[submodule "external/kmp-toolkit"]
	path = external/kmp-toolkit
	url = https://github.com/darkpandawarrior/kmp-toolkit.git
[submodule "external/kmp-build-logic"]
	path = external/kmp-build-logic
	url = https://github.com/darkpandawarrior/kmp-build-logic.git
